{% extends layout %}
{% block  content %}
<main class="container">
<div>
    <form action="/tasks" method="post">
    <label for="task"></label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="task" id="task" value="{{ task }}" placeholder="Write a task" required>
            <input type="text" class="form-control" name="taskInfo" id="taskInfo" value="{{ taskInfo }}" placeholder="Write task information" required>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add task</button>
        </div>
    </form>
</div>
<h1>Display tasks</h1>
    {% for task in tasks %}
    {% if task.completed==0 %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex">
            <h5 class="card-title">{{task.task}}</h5>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{task.id}}" aria-expanded="false" aria-controls="collapse{{task.id}}">
                Information
                </button>
            </p>
            </div>
            <div class="collapse" id="collapse{{task.id}}">
                <div class="card card-body">
                     {{task.taskInfo}}
                </div>
            </div>
             
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{task.completed}}"
                            name="task-{{task.id}}"
                            id="task-{{task.id}}"
                            {% if task.completed %}checked{% endif %}>
                        <label
                            class="form-check-label"
                            for="task-{{task.id}}">
                            Completed
                        </label>
                    </div>
                    <a href="/tasks/{{task.id}}/delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                </div>
        </div>
    </div>
    {% else %}
    <div class="card bg-success" style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex">
            <h5 class="card-title">{{task.task}}</h5>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{task.id}}" aria-expanded="false" aria-controls="collapse{{task.id}}">
                Information
                </button>
            </p>
            </div>
            <div class="collapse" id="collapse{{task.id}}">
                <div class="card card-body">
                     {{task.taskInfo}}
                </div>
            </div>
             
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{task.completed}}"
                            name="task-{{task.id}}"
                            id="task-{{task.id}}"
                            {% if task.completed %}checked{% endif %}>
                        <label
                            class="form-check-label"
                            for="task-{{task.id}}">
                            Completed
                        </label>
                    </div>
                    <a href="/tasks/{{task.id}}/delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</main>
<script src="/js/complete.js"></script>
{% endblock %}